@font-face {
  font-family: "kb";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0px;
  background-color: #2d2f44;
  min-height: 100vh;
  font-family: kb;
  color: white;
}
